body {
  padding: 16px;
}

header {
  align-content: center;
  align-items: center;
  font-size: 32px;
  padding: 0px;
}

header h1 {
  padding-top: 32px;
  text-align: center;
  font-size: 32px;
  display: block;
}

header span:last-child {
  margin-top: 32px;
  display: block;
}

.navRow {
  justify-content: space-evenly;
  flex-flow: column nowrap;
  gap: 1em;
}

nav a {
  text-align: center;
}
