---
import Layout from '../layouts/Layout.astro';

const workStartDate = new Date(2019, 1, 1)
const now = new Date()
const years = now.getFullYear() - workStartDate.getFullYear()

---

<Layout title="Home">
	<main class="p-11">
		<p class="text-xl">
			I'm a JavaScript full stack Engineer who, for the last {years}, has mainly been working with technologies such as
			JavaScript, TypeScript, Node.
		</p>
	</main>
</Layout>