---

---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
    <link rel="icon" href="./assets/icons/favicon.svg" />
		<title>Antonio Galindo | JavaScript Full-Stack Developer</title>
	</head>
	<body>
		<h1>Hello world, this is Antonio Galindo!</h1>
	</body>
</html>
