---
import CONST from "../utils/constants"

const { mainSiteTitle } = CONST;

interface Props {
  text?: string
}
const { text = mainSiteTitle } = Astro.props as Props;
---

<h1 class="text-2xl font-semibold">
  {text}
</h1>