---
import "../styles/global.css";
import Header from "./Header.astro"
import Footer from "./Footer.astro"
import Navbar from "./Navbar.astro"
import CONSTANTS from "../utils/constants"

export interface Props {
  title?: string;
  description?: string;
}

const { defaultTitle, defaultDescription } = CONSTANTS;
const { title = "JavaScript Full Stack", description = defaultDescription } = Astro.props as Props;
---

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <meta name='description' content={description} />
  <link rel="icon" type="image/x-icon" href="/favicon.svg" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="preload"
    href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,500;0,900;1,400&display=swap"
    as="style">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,500;0,900;1,400&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="https://unpkg.com/flowbite@1.4.7/dist/flowbite.min.css" />
  <title>{defaultTitle} {title}</title>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-007HEZWYFR"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-007HEZWYFR');
  </script>
</head>

<body class="flex flex-col min-h-screen bg-white">
  <Header>
    <Navbar />
  </Header>
  <main class="flex-1">
    <slot />
  </main>
  <Footer />
  <script src="https://unpkg.com/flowbite@1.4.7/dist/flowbite.js"></script>
</body>

</html>